@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
   }

   /* common.css connect */
    /* more styles */
 @import url(/exercises/lecture-03/css/common.css);

    body {
        color: var(--primary-text-color);
        background: var(--primary-bg-color);
    }
    .footer-legal ul {
        color: var(-footer-text-color);
        background-color: var(--footer-bg-color);
    }