    /* №2*/ 
h1,h2,h3 {
    color:grey;
}

#main {
    color:#e60202;
}

.h2 {
    color:red;
}

.heading {
    color:green;
}


    /*№3*/
ul>li {
    font-weight: bold;
}

section > p {
    color: red;
   }


   /*змінити розмір шрифту всіх елементів p всередині елемента section, незалежно від їхнього рівня вкладеності*/
.paragraph p{
    font-size: xx-small;
}


    /*№4*/
.head h1:first-of-type + h2{
    color: indigo
}

p.first {
    color:green;}

p .first a{
        color:green;
}

div~ p{
    color:salmon;
}

/*№5*/

/* black = #000000 ; rgb (0,0,0) ; hsl(0,0%,50%); rgba (0,0,0,0.5) 
blue = #0000ff ; rgb(0,0,255); hsl(240,100%,50%); rgba(0,0,255,0.5) 
green = #008000 ; rgb(0,128,0); hsl(120,100%,25%); rgba(0,128,0,0.5)
red  = #ff0000 ; rgb(255,0,0);  hsl(0,100%,50%) ; rgba(255,0,0,0.5)
white =  #ffffff ;  rgb(255,255,255); hsl(0,0%,100%); rgba(255,255,255,0.5) 
yellow =  #ffff00 ; rgb(255,255,0);  hsl(60,100%,50%); rgba(255,255,0,0.5)*/


/*№6*/
.translucent-box {
    background:hsl (0deg,100%,50%,0.5) ;
}

/*№7*/

:root {
    font-size: 100%;
}
body {
    font-size: 140%;
}
h1 {
    font-size: 240%;
}