<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">

  <title>Flexbox layout</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="styles.css">
  
</head>

<body translate="no">


  <ul role="list" class="flexbox">
  <li class="card">
    <h3>Lorem.</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi voluptate id magnam blanditiis, placeat harum possimus ex. Ratione autem, ea ex reprehenderit magni, facilis sed repudiandae quae ipsam libero aliquam!</p>
  </li>


  <li class="card">
    <h3>Lorem, ipsum dolor.</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas minima modi laudantium possimus praesentium ex ipsum officia totam architecto tenetur!</p>
  </li>


  <li class="card">
    <h3>Lorem, ipsum.</h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt dolores autem veritatis cum minima in recusandae tempora omnis? Perspiciatis expedita nulla natus dolor, magnam quis.</p>
  </li>


  <li class="card">
    <h3>Lorem, ipsum dolor.</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem ipsa, ex corporis blanditiis asperiores, eaque sit sed culpa, quod minus odio sunt?</p>
  </li>
  
</ul>
  

</body>
</html>