@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* #4 */
body{
    font-family: 'Roboto', sans-serif;
    font-size:16px;
}


/*#3*/
div {
    font-size: 1em;
    >span {
        font-size: 1.6em;
    }
}


/*#4*/
strong{
    font-size: 1.6em;
}


/*#5*/
li {
    list-style: square;
}

/* #9 */
h1 {
    font-weight: 700;
    font-size: 1.45rem;
}

h2 {
    font-weight: 700;
}

h3 {
    font-weight: 700;
}