*, *::before, *::after {
    box-sizing: border-box;
}


table { 
    width: 50rem; 
    border-collapse: collapse; 
    margin:3rem auto;
}



/*2*/
td, th { 
    padding:0.625rem; /*10px*/
    border: 1px solid lightgrey;
    text-align: left;
    font-size: 1.08 rem; /*18px*/
}

@media (max-width: 50rem) {
    table, thead, tbody, th, td, tr {
         display: block;
    }
       
    thead tr { 
        display:none;
    }
      
    tr {
        border: 1px solid darkgrey;
    }
      
    td { 
        border:none;
        border-bottom: 1px solid lightgrey;
    } 
}


/*3*/
th { 
    background-color: indigo;
    color: white;
    font-weight: bold;
} 

/*4*/
.table-format:nth-of-type(even) {
    background-color: #f5f5f5;
}